body{
	background-color: #CEECF5;
	padding-left: 5%;
	padding-right: 5%;
}
section{
	background-color: white;
	padding-top: 20px;
	padding-left: 30%;
	padding-right: 30%;
}
h1{
	text-align: center;
}
form > div{
	margin-bottom: 10px;
}
.bottom-button{
	float: left;
	text-align: center;
}
ul{
	list-style: none;
	overflow: hidden;
	position: relative;
	height: 40px;   <!-- 0px로 사라진 경우에는 height 값을 주면 된다. -->
}
.before{
	position: absolute;
	left: 0px;
	border: 1px solid;
}
.back{
	position: absolute;
	right: 0px;
}
.submit{
	position: absolute;
	right: 90px;
}

